{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="edit-profile header myForm">
        <h3 style="text-align: center; margin-bottom: 32px;">Edit your profile</h3>
        <form action="/edit-profile" method="POST">
            {{ form.hidden_tag() }}
            
            {% if form.firstName.errors %}
              {{ form.firstName(class="form-control is-invalid",placeholder='First Name') }}
              <div class="invalid-feedback">
                {% for error in form.firstName.errors %}
                  <span>{{error}}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.firstName(class="form-control",placeholder='First Name',value=uFirstname) }}
            {% endif %}
    
            {% if form.lastName.errors %}
            {{ form.lastName(class="form-control is-invalid",placeholder='Last Name') }}
              <div class="invalid-feedback">
                {% for error in form.lastName.errors %}
                  <span>{{error}}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.lastName(class="form-control",placeholder='Last Name',value=uLastname) }}
            {% endif %}
    
            
             {{ form.email(class="form-control",placeholder='Email',disabled="disabled",value=uEmail) }}
            
    
            {{ form.gender(class="form-control",disabled="disabled",value=uSex) }}
    
    
            {% if form.age.errors %}
              {{ form.age(class="form-control is-invalid",placeholder='Age') }}
              <div class="invalid-feedback">
                {% for error in form.age.errors %}
                  <span>{{error}}</span>
                {% endfor %}
              </div>
            {% else %}
             {{ form.age(class="form-control",placeholder='Age',value=uAge) }}
            {% endif %}
    
            {{ form.acc_type(class="form-control",disabled="disabled",value=uAccType) }}
    
            {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid",placeholder='Password') }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                  <span>{{error}}</span>
                {% endfor %}
              </div>
            {% else %}
            {{ form.password(class="form-control",placeholder='Password') }}
            {% endif %}
            
            {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control is-invalid",placeholder='Confirm Password') }}
              <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                  <span>{{error}}</span>
                {% endfor %}
              </div>
            {% else %}
            {{ form.confirm_password(class="form-control",placeholder='Confirm Password') }}
            {% endif %}
            
            {{ form.submit(class="form-control mybtn",value='Update') }}
        </form>
    </div>
</div>
<div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#0099ff" fill-opacity="1" d="M0,96L20,133.3C40,171,80,245,120,245.3C160,245,200,171,240,149.3C280,128,320,160,360,170.7C400,181,440,171,480,170.7C520,171,560,181,600,202.7C640,224,680,256,720,266.7C760,277,800,267,840,256C880,245,920,235,960,202.7C1000,171,1040,117,1080,122.7C1120,128,1160,192,1200,218.7C1240,245,1280,235,1320,240C1360,245,1400,267,1420,277.3L1440,288L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z"></path>
        </svg>
    </div>
{% endblock content %}